<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.polyvi.xface.extension.uppay"
    version="1.0.0">
    <name>UPPay</name>
    <description>xFace UPPay Extension</description>
    <license>GPLv3</license>
    <keywords>cordova, xface, uppay</keywords>

    <js-module src="www/UPPay.js" name="UPPay">
        <clobbers target="UPPay" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="UPPay">
                <param name="ios-package" value="XUPPayExt"/>
            </feature>
        </config-file>

        <header-file src="src/ios/UPPayPlugin.h" />
        <header-file src="src/ios/UPPayPluginDelegate.h" />
        <header-file src="src/ios/XUPPayExt.h" />
        <source-file src="src/ios/XUPPayExt.m" />
        <source-file framework="true" src="src/ios/libUPPayPlugin.a" />
        <framework src="QuartzCore.framework" />
        <framework src="libstdc++.dylib" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="UPPay">
                <param name="android-package" value="com.polyvi.xface.extension.uppay.XUPPayExt"/>
            </feature>
        </config-file>

        <config-file target="res/xml/xface_string.xml" parent="/*">
            <string name="uppay_install_warn">银联安全支付控件未被正确安装，检查并重新安装？</string>
            <string name="pay_plugin_install_options">确定,取消</string>
        </config-file>

        <source-file src="src/android/XUPPayExt.java" target-dir="src/com/polyvi/xface/extension/uppay"/>
        <source-file src="src/android/UPPayPluginEx.apk" target-dir="assets/"/>
        <source-file src="src/android/UPPayAssistEx.jar" target-dir="libs/"/>
    </platform>
</plugin>
