<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.polyvi.xface.extension.uppay"
    version="1.0.3-dev">
    <name>UPPay</name>
    <description>xFace UPPay Extension</description>
    <license>GPLv3</license>
    <keywords>cordova, xface, uppay</keywords>

    <js-module src="www/UPPay.js" name="UPPay">
        <clobbers target="UPPay" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="UPPay">
                <param name="ios-package" value="XUPPayExt"/>
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="UIViewControllerBasedStatusBarAppearance">
            <false/>
        </config-file>

        <header-file src="src/ios/XUPPayExt.h" />
        <source-file src="src/ios/XUPPayExt.m" />

        <header-file src="src/ios/UPPayPluginEx-SND-2.0.14/UPPayPlugin.h" />
        <header-file src="src/ios/UPPayPluginEx-SND-2.0.14/UPPayPluginDelegate.h" />
        <source-file framework="true" src="src/ios/UPPayPluginEx-SND-2.0.14/libUPPayPlugin.a" />

        <header-file src="src/ios/UPPayPluginEx-SND-2.0.16/UPBalanceQueryPlugin.h" />
        <header-file src="src/ios/UPPayPluginEx-SND-2.0.16/UPBalanceQueryDelegate.h" />
        <source-file framework="true" src="src/ios/UPPayPluginEx-SND-2.0.16/libUPBalanceQueryPlugin.a" />

        <framework src="QuartzCore.framework" />
        <framework src="libstdc++.dylib" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="UPPay">
                <param name="android-package" value="com.polyvi.xface.extension.uppay.XUPPayExt"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.unionpay.mobile.uppay.v2.MobileActivityEx"
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
                android:screenOrientation="portrait"
                android:theme="@style/Transparent"
                android:windowSoftInputMode="adjustResize" />
            <activity android:name="com.unionpay.mobile.plugin.zl.MobileActivity"
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
                android:screenOrientation="portrait"
                android:theme="@style/Transparent"
                android:windowSoftInputMode="adjustResize" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>

        <source-file src="src/android/XUPPayExt.java" target-dir="src/com/polyvi/xface/extension/uppay"/>
        <source-file src="src/android/libCDZL.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/libCdzlWidget.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/UPPayPluginEx.jar" target-dir="libs/"/>
        <source-file src="src/android/UPPluginWidget.jar" target-dir="libs/"/>
        <source-file src="src/android/colors.xml" target-dir="res/values"/>
        <source-file src="src/android/style.xml" target-dir="res/values"/>
        <source-file src="src/android/styles.xml" target-dir="res/values"/>
    </platform>
</plugin>
